html { font-size:100%; } 
body {

	background-image: url(../img/g12.png);
	background-size: 100% 100%;
}

/* Top nav and header
-------------------------------------------------- */
.container {

	width: 80%;

}
.bs-docs-nav {
  padding-bottom: 3%;
  background: url(../img/header.png);
  background-size: 100% 100%;
  border:0;
}
.bs-docs-nav .navbar-collapse {
  border-color: #585858;
  font-size: 1em;
}

.bs-docs-nav .navbar-collapse p{
	margin: 10px 0px 10px;
	color: #A2A2A2;
}

.bs-docs-nav .navbar-brand {
  color: #fff;
}

.bs-docs-nav .navbar-nav > li > a {
  color: #A2A2A2;
}

.bs-docs-nav .navbar-nav > li > a:hover {
  color: #fff;

}
.bs-docs-nav .navbar-nav > .active > a,
.bs-docs-nav .navbar-nav > .active > a:hover {
	color: #D8D7D7;
	background-color: rgba(8, 8, 8, 0);
}	
.bs-docs-nav .navbar-toggle {
  border-color: #563d7c;
}
.bs-docs-nav .navbar-toggle:hover {
  background-color: #463265;
  border-color: #463265;
}

.navbar-nav {
	
	float: right;
	
}

a.facebook {
	margin-bottom: 1em;
 	display: inline-block;
 	float: right;
	width: 2em;
	height: 2em;
	margin-left: 1px;
	vertical-align: middle;
 	background: url(../img/social/facebook-icon.png) left bottom no-repeat;
 	background-size: 70% 70%;
}
a.twitter {
	margin-bottom: 1em;
 	display: inline-block;
 	float: right;
	width: 2em;
	height: 2em;
	margin-left: 1px;
	vertical-align: middle;
 	background: url(../img/social/twitter-icon.png) left bottom no-repeat;
 	background-size: 70% 70%;
}
/* Page headers */
.bs-header {
  padding: 10em 0 0;
  font-size: 16px;
  color: #5a5a5a;
  text-align: center;


}

.bs-header h1 {
  color: #563d7c;
}
.bs-header p {
  font-weight: 300;
  line-height: 1.5;
}
.bs-header .container {
  position: relative;
}

.bs-docs-section + .bs-docs-section {
  padding-top: 80px;
}

#quicksearch {

	margin-top: 2em;
}
#quicksearch .row {
	
	background-image: url(../img/buscador.png); /* fallback */	
	background-image: url(../img/buscador.png);
	background-image: url(../img/buscador.png);
	background-image: url(../img/buscador.png);
	background-image: url(../img/buscador.png);
	background-image: url(../img/buscador.png);
	background-size: 100% auto;
	background-repeat:no-repeat;
	background-size: 100% 100%;
	padding-bottom: 5px;
	margin-right: 0;
	margin-left: 0;
}
#quicksearch ul {
	float: right;
	display: inline;
	height: auto !important;
	padding-bottom: 0;
	overflow: visible !important;
	list-style: none;
	margin-bottom: 0;
}
#quicksearch li {

	float: left;
	text-align: center;
	margin-right: 1em;
	margin-bottom: 4px;
} 

#quicksearch h3 {
	font-size: 1em;
	color: #F3F3F3;
	margin-right: 1em;
	margin-top: 1.4em;
} 

#quicksearch .form-control{
	
	margin-top: 1.2em;
	background-image: -webkit-linear-gradient(bottom, #9C9C9C 12%, #E9E9E9 56%, #BEBBBB 97%);
	border-color: #3A3E41;
	width: 15em;
	height: 24px;
} 	

#quicksearch .navbar-btn {

	margin-top: 1.3em;
	margin-bottom:0;


}

#quicksearch .btn {
	background-image: -webkit-linear-gradient(bottom, #9C9C9C 12%, #E9E9E9 56%, #BEBBBB 97%);
	padding: 0px 9px;
	font-size: 1em;
	font-weight: normal;

	}
/*carousel 1
#page { margin: 0 auto; width: 800px; background: #fff; padding:40px; margin-top: 20px; margin-bottom: 20px; border: 1px solid #777; box-shadow: #999 1px 1px 3px; }
#page h1 { font-weight: normal; font-size: 32px; letter-spacing: -2px; margin:0 0 20px 0; border-bottom: 1px solid #ddd; padding:0 0 10px 0; }
#page h2 { font-weight: bold; font-size: 22px; letter-spacing: -1px; font-style: italic; margin:40px 0 0 0; }
#page h3 { float: right; }
#page h3 a { font-weight: normal; font-size: 16px; color:#004499; }
#page h3 a:hover { color:#333; }*/

/*carusel 2*/

#wrapper {
				background-color: rgba(49, 47, 47, 0.53);
				border: 10px solid #E0E0E0;
				padding: 0;
				height: 20em;
				margin: 0 0 0 0;
				position: relative;				
				overflow: hidden;

			}
			#images-wrapper {
				width: 70%;
				height: 100%;
				float: left;
				overflow: hidden;
			}
			#texts-wrapper {
				width: 30%;
				height: 100%;
				float: right;
				text-align: center;
				overflow: hidden;
			}

			#images img {
				display: block;
				width: 100%;
			}
			
			#texts > div {

				text-align: "center";
				margin-right: 10%;
				position: relative;	

			}
			#texts > div > div {
				width: 100%;
				margin-left: 1em;		
				color: #A0A0A0;
				text-align: "center";
			}
			
			#texts a {
				color: #fff;
				font-size: 1em;
				text-shadow: 0 1px 2px rgba(0,0,0,0.5);
				text-decoration: none;
				text-align: center;
				line-height: 40px;
				outline: none;
				display: block;
				background-color: #888;
				border: 1px solid #666;
				width: 7em;
				height: 2.7em;
				position: absolute;		
				margin-left: 33%;
				margin-top: 4%;
				
				border-radius: 5px;
				box-shadow: 0 2px 5px rgba(0,0,0,0.5);
				background-image: -moz-linear-gradient(bottom, #666 25%, #888 75%);
				background-image: -webkit-linear-gradient(bottom, #666 25%, #888 75%);
				background-image: -ms-linear-gradient(bottom, #666 25%, #888 75%);
				background-image: linear-gradient(bottom, #666 25%, #888 75%);
			}
			#texts a:hover {
				background-color: #777;
				background-image: -moz-linear-gradient(top, #666 25%, #888 75%);
				background-image: -webkit-linear-gradient(top, #666 25%, #888 75%);
				background-image: -ms-linear-gradient(top, #666 25%, #888 75%);
				background-image: linear-gradient(top, #666 25%, #888 75%);
			}
			#texts h3 {
				margin-top: 2em;
				text-align: center;
			}
			#texts ul {
					list-style: none;
					-webkit-padding-start: 0;

			}
			#destacado.container{

				width: 100%;
				height:100%;
				background: url(../img/slider/imagen3.jpg);			
			}
			
			#destacado .row {

				margin-left: 3em;
				margin-right: 2em;
				margin-top: 3em


			}
			
			#destacado h2{

				text-align: center;
				color: #D5D3D3;		
				top: 50%; 
				left: 50%;"		
			}
			#destacado h3{
				text-align: center;
			}
			#destacado h1{

				text-align: center;
				color: #0730B4;
			}
			#destaca{

				width: 75%;
				margin-left: 13%;

			}

#autos .col-md-3{
	margin-top: 2em;
	margin-left: 0;
	margin-right: 0;
	padding: 0 0.8em;
	text-align: center;
	overflow: hidden;
	display: inline-block;


}


#autos ul {
	float: left;		
	overflow: visible !important;
	list-style: none;
	-webkit-padding-start: 0;

}

#auto li{

	min-height: 3em;
}


#autos .col-md-3 p{


	color: #C9C6C6;	
	text-align: left;
	font-size: 1em;


}

#autos .btn{

	background: white;
	padding: 0px 9px;
	font-size: 1em;
	font-weight: normal;
	float: left;
	margin-right: 3em;
	color: red;
}

#autos img{

	margin-top: 1em;
	min-height: 12em;

}
#autos h3 {
	font-size: 1.3em;
	text-align: left;
	color: white;
	text-align: justify;
	border-bottom: thin rgb(117, 117, 117) solid;
	margin: 1em 0 0 0;
	width: 11em;
}

#autos .row{

	background: rgba(0, 0, 0, 0.18);
	padding-bottom: 4em;
	margin-right: 0;
	margin-left: 0;
}

#autos.container{

	padding-bottom: 4em;

}

#autos .container{

	background: rgba(0, 0, 0, 0.51);	
	overflow: hidden;
	width: 100%;	


}

#autos .container:hover{
	
	background: rgba(187, 187, 187, 0.29);
	cursor: pointer;
}


footer {

	background: url("../img/footer.png");
	background-size: 100% 100%;
	position: absolute;
	width: 100%;


}

footer .row {

	width: 100%;
	padding-top: 1em;
	padding-bottom: 2em;
	text-align: center;
	color: #A0A0A0;

}

